:root{
    --primary-font: 'Poppins';
    --button-color:hsl(213, 96%, 18%);
    --step-color: hsl(228, 100%, 84%);
    --border-color: hsl(213, 96%, 18%);
    --heading-color:hsl(213, 96%, 18%);
    --text-color :hsl(231, 11%, 63%);

}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
background-color: var(--step-color);
height: 100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.step-section{
    width: 60%;
    height: 80%;
    background-color: #fff;
    border-radius: 18px;
    display: flex;
    padding: 10px;
    
}
.step-aside{
    width: 40%;
    height: 100%;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    border-radius: 10px;
}
div.step-wrapper{
    font-family: var(--primary-font);
    height:50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}
.step-box{
    height: 5rem;
    display: flex;
    align-items: center;
    align-items: center;
    color: #fff;
    
}
.step-box h3{
    border: 1px solid #fff;
    width: 26px;
    height: 26px;
    padding: 3px;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
}
.step-detaille{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    margin-left: 8px;
    
}
.step-detaille span{
    color: var(--text-color);
    /* font-size: 1rem; */
}
.step-detaille p{
    font-size: 12px;
    margin: 0;
}
.infos-section{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 60%;
    height: 80%;
}
.info-title h1{
    font-family: var(--primary-font);
    color: var(--border-color);
    font-size: 1.5rem;
}
.info-title p{
    font-family: var(--primary-font);
    color: var(--text-color);
}
.infos-section form{
    margin-top: 20px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infos-section form label{
    font-family: var(--primary-font);
    font-weight: 500;
    color: var(--border-color);
}
.infos-section  form input{
    height: 35px;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    font-weight: 700;
    padding-left: 10px;
}
.infos-section .info-action-step1{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.infos-section .info-action-step1 button{
 color: #fff;
 height: 45px;
 width: 100px;
 background-color: var(--button-color);
 border-radius: 10px;
 border: none;
 font-weight: 600;
}
.infos-section .info-action-step1 button:hover{
    background-color: var(--step-color);
    transition: all 0.5s;
    color: var(--heading-color);
    cursor: pointer;
}
.plan-secetion{
    width: 100%;
    height:80% ;
    display: flex;
    justify-content: space-between;
}
.plan-secetion .plan-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    margin: 10px;
    width: 33.3%;
    border:1px solid var(--border-color);
    border-radius: 15px;
}
.plan-detaille p{
    color: var(--heading-color);
    font-family: var(--primary-font);
    font-weight: 500;
}
.plan-detaille span{
    font-family: var(--primary-font);
    color: var(--text-color);
}
.toggeler {
    position: relative ;
    display: inline-block;
    width: 70px;
    height: 26px;
    background-color: var(--border-color);
    border-radius: 30px;
    
}
.toggeler::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    top: 3px;
    left: 1px;
    transition:  all 0.5s;
}
.checkbox:checked + .toggeler::after {
    left: 40px;
}
.checkbox:checked + .toggeler {
    background-color: var(--step-color);
    
}
.checkbox{
    display: none;
}
.plan-selection{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    gap: 15px;
    font-family: var(--primary-font);
    color: var(--border-color);
}

.info-action{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.info-action button.nxt-stp{
    color: #fff;
 height: 45px;
 width: 100px;
 background-color: var(--button-color);
 border-radius: 10px;
 border: none;
 font-weight: 600;
}
.info-action button.nxt-stp:hover{
    background-color: var(--step-color);
    transition: all 0.5s;
    color: var(--heading-color);
    cursor: pointer;
}
.info-action button.prv-stp{
    color: var(--heading-color);
    border: 1px solid var(--border-color);
    height: 45px;
    width: 100px;
    background-color:transparent;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
