*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(206, 94%, 87%);
}
.first-step{
    width: 50%;
    height: 70%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    
}
.stepes-1,.stepes-2{
    height: 100%;
    width: 30%;
    background-color: hsl(243, 100%, 62%);
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 15px;
    padding: 30px 10px;
    border-radius: 15px;
}
.step-box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.step-box h3{
    border:  solid 1px white;
    width: 28px;
    padding: 3px;
    text-align: center;
    height: 28px;
    border-radius: 50%;
}
.step-box .step-2{
    background-color:hsl(206, 94%, 87%) ;
    color: hsl(213, 96%, 18%);
    border: none;
}

.step-detailles span{
    font-size: 14px;
    color: hsl(229, 24%, 87%);
    
}
.step-detailles p{
    font-weight: 600;
    margin-top: 10px;
}

.info-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;

}
.info-title{
    margin: 25px 0 ;
    height: 10%;
}
.info-title h3{
    color: hsl(213, 96%, 18%);
    line-height: 40px;
} 
.inputs-box{
    width: 80%;
    height: 70%;
    margin-top: 10px;

}
.info-title p{
    color: hsl(231, 11%, 63%);
}
.inputs-box form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputs-box form label{
    color:hsl(213, 96%, 18%);
    font-weight: 700;
}
.inputs-box h5{
    text-align: end;
    color: red;
 
}
.inputs-box form input{
    height: 40px;
    width: 100%;
    padding: 10px;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
    border: 1px solid hsl(231, 11%, 63%) ;
}
.next-step-btn{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.next-step-btn button{
    background-color:hsl(213, 96%, 18%) ;
    color: #fff;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-weight: 500;

}
.next-step-btn button:hover{
    background-color:hsl(231, 11%, 63%) ;
    color:hsl(213, 96%, 18%) ;
    transition: ease-in 0.1s;
    
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    justify-content: space-around;
}
.card-box .card{
    border: 1px solid hsl(243, 100%, 62%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 30%;
    padding: 15px;
    height: 50%;
    border-radius: 18px;
    line-height: 24px;
    cursor: pointer;
}
.card:hover{
background-color: aliceblue;
transition: ease-in 0.2s;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(243, 100%, 62%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 12px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.togell-wrapper{
    display: flex;
    width: 100%;
    padding: 0 10px 0 10px;
    background-color: aliceblue;
    border-radius: 15px;
    background-size: cover;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.action-container{
display: flex;
justify-content: space-around;

}
.next-stp-btn{
    background-color:hsl(213, 96%, 18%) ;
    color: #fff;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
.go-back-btn{
    background-color:transparent ;
    color: hsl(213, 96%, 18%);
    height: 40px;
    width: 100px;
    border: 1px solid ;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}